<h1>My Todos</h1>
<div>
  <form action="/todo" method="post">
    <label for="todo">Enter Todo: </label>
    <input id="todo" type="text" name="todo" value="">
    <input type="submit" value="OK">
  </form>
</div>

<div>
  <ul>
    <% todos.forEach(function(todo) { %>
      <li>
        <div><span><%= todo.todo %> <%= todo.id %>
          <form action="/deleteTodo/<%=todo.id%>" method="post">
            <input type="submit" value="DELETE">
          </form>
        </span>
        </div>
        </li>
    <% }); %>
  </ul>
</div>